/* flexbox */
:root { /*root is the default styling -- applies to the whole page*/
    background-color: rgba(0, 0, 0, 0.373);
}

.item { /*.__ specifies the class*/
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 60px;
    padding: 10px;
    border-radius: 5px;
    flex-shrink: 0;
    flex-grow: 1;
}

.flex-container {
    display: flex;
    flex-direction: row; /*column, row */
    /* flex-direction: row-reverse; */ /* row-reverse, column-reverse */
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    /* justify-content: center; */ /*center, space-around, space-between */
    /* width: 500px; */
    align-items: center; /*center, flex-start, flex-end, stretch */
    /* align-content: center; */
}

#item1 { /*this is how to specify by id -- #__  */
    height: 25px;
}

#item2 {
    background-color: rgb(170, 170, 255);
    width: 300px;
    height: 20px;
    /* min-width: 300px; */
    flex-shrink: 0;
    flex-grow: 2;
}

#item3 {
    background-color: rgba(255, 170, 170);
    width: 300px;
    height: 50px;
    /* display: none; */
}
